@import url("reset.css");
@import url("global.css");

@import url("components/gear-dropdown.css");
@import url("components/interest-links.css");
@import url("components/main-content.css");
@import url("components/main-nav.css");
@import url("components/masthead.css");
@import url("components/search-modal.css");

.masthead {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr) 25px;
  padding-top: 20px;
  align-items: end;
}

.masthead__menu-and-search {
  display: flex;
  padding-left: 20px;
  align-items: center;
}
.masthead__menu-and-search > div {
  font-size: 11px;
  padding: 7px 9px;
  cursor: pointer;
}

.masthead__menu-and-search > div:hover {
  color: #f7f7f5;
}

.masthead__action-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 7px 9px;
}

.masthead__little-technologies {
  display: flex;
  justify-content: center;
}
.masthead__little-technologies > div {
  display: flex;
  justify-content: center;
  border-top: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  border-bottom: 1px solid #fff;
  padding: 7px 6px;
  position: relative;
  bottom: -21px;
}
.masthead__little-tech {
  text-transform: uppercase;
  font-size: 10px;
  color: #6f6f6f;
  margin-right: 5px;
}

.masthead__logo {
  padding-top: 30px;
}

.masthead__logo,
.masthead__date,
.masthead__today-paper,
.masthead__action-buttons,
.masthead__menu-and-search,
.masthead__little-technologies {
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 20px;
}
.masthead__today-paper,
.masthead__date {
  display: flex;
  align-items: flex-end;
}

.masthead__today-paper {
  justify-content: flex-end;
  gap: 10px;
}

.main__nav {
  grid-column: 1/4;
  align-self: start;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.main__nav ul {
  display: flex;
  gap: 24px;
}

.main__nav ul li a {
  line-height: 12px;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 30px;
}

@media screen and (max-width: 1200px) {
  main {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .main__nav {
    display: none;
  }
}
