@import url("reset.css");
@import url("global.css");

@import url("components/gear-dropdown.css");
@import url("components/interest-links.css");
@import url("components/main-content.css");
@import url("components/main-nav.css");
@import url("components/masthead.css");
@import url("components/search-modal.css");

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 30px;
}

@media screen and (max-width: 1200px) {
  main {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 1000px) {
  .main__nav {
    display: none;
  }
}
